@import "../utils/variables.scss";


.header {
    
    &__title {
        margin: 10px 0;
        color: $white-color;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 30px;
    }

    &__text {
        margin: 0;
        margin-bottom: 10px;
        color: $white-color;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
    }
}