@import "../utils/variables.scss";


.notes-table {
    display: flex;
    flex-direction: column;
}

notes-table.notes-table--summary {
    margin-top: auto;
}

.notes-table__header {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 5px 10px;
}

.notes-table__header-item {
    flex-basis: calc(20% - 50px);
}

.notes-table__header-item.notes-table__header-item--summary {
    flex-basis: calc(33.33% - 50px);
}

.notes-table__header-actions {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
}

.notes-table__header-button {
    margin-right: 10px;
}

.notes-table__message {
    text-align: center;
}


.notes-table__row {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgb(219, 255, 253);
    border: 1px solid black;
}


.notes-table__item {
    flex-basis: calc(20% - 50px);
    white-space: nowrap;
    overflow-x: auto;
    border: 1px solid black;
}

.notes-table__item.notes-table__item--summary {
    flex-basis: calc(33.33% - 50px);
}


.notes-table__actions {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
}

.notes-table__button {
    margin-right: 10px;
}

.create-button {
    margin-left: auto;
    margin-bottom: 20px;
}

.notes-table__list {
    max-height: 230px;
    overflow: auto;
    width: 100%;
    margin-bottom: 20px;
}