
$veryDarkBlue: rgb(22, 23, 34);
$veryDarkDesaturatedBlue: rgb(37, 39, 60);
$darkGray: rgb(114, 114, 122);
$darkGrayishBlue: rgb(119, 122, 146);


$lightGrayishBlue: rgb(233, 234, 243);
$light-hover : rgb(255, 255, 255);





